.screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.head{
    color: orange;
}

.box{
    background-color: white;
    width: 35%;
    height: 60%;
    text-align: center;
    box-shadow: 2px 2px 3px gray;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin : 20px;
}

.container{
    width: 250px;
    margin-bottom: 10px;
}

.image{
    width: 100%;
}

.container_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 50vh;
    background-color: orange;
    border: none;
    padding: 8px 10px;
    font-size: large;
    font-weight: 200;

}

.btn:hover{
    cursor: pointer;
}

.heading{
    font-size: x-large;
}

.input_feild{
    padding:5px;
}

.input_feild:focus{
    border-color: orange;
}


@media screen and (max-width: 992px) {
    
    .box{
        background-color: white;
        width: 80%;
        text-align: center;
        box-shadow: 2px 2px 3px gray;
        padding: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn{
        width: 15rem;
        background-color: orange;
        border: none;
        padding: 8px 10px;
        font-size: large;
        font-weight: 600;
    }
    .input{
        display: flex;
        flex-direction: column;
        width: 15rem;
        margin : 20px;
    }
    .heading{
        font-size: large;
    }

    
  } 

