.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.right{
    background-color: gray;
    height: 100%;
}


@media screen and (max-width: 992px) {
    
    .main{
        display: flex;
        flex-direction: column;
    }

    
  } 
