.box{
    background-color: #d3d3d3;
    width: 100%;
    height: 90%;
}

.btns{
    background-color: aqua;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.btn{
    background-color: orange;
    border: 2px solid white;
    padding: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-bottom: none;
}

.active{
    background-color: #d3d3d3;
    color: black;
}






